# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Streamlit cache
.streamlit/secrets.toml